.container{
    background-color: white;
    margin: 30px;
    height: 100%;
    min-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.text{
    color: #002882;
    font-size: 20px;
}