.container{
    background-color: white;
    min-height: 70vh;
    width: 30vw;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.switchers {
    max-height: 20vh;
}